@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

header {
  padding-inline: 8vw;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  height: 60px;
  width: 60px;
}

header .logo span {
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 1.625rem;
  margin-top: 15px;
  margin-left: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul a {
  color: #333333;
}

header ul a:hover {
  color: gray;
}

header ul li:not(:last-child) {
  margin-right: 5vw;
}

header .acc a, header .acc button {
  padding: .5em 1em;
  background-color: #32c38e;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  color: white;
  border: 0;
}

header .acc a:hover, header .acc button:hover {
  background-color: #1c9b6d;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.hero-container {
  height: 80vh;
  padding-inline: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container h1 {
  font-size: 2.8125rem;
}

.hero-container p {
  margin-left: 2px;
  margin-block: -1.5rem 1.5rem;
  color: #333333;
}

.hero-container .search {
  width: 50%;
  position: relative;
}

.hero-container .search a {
  font-size: 1.25rem;
  padding: .5em 1em;
  background: #1c9b6d;
  border-radius: 24px;
  color: white;
  font-weight: 600;
}

.hero-container .search a:hover {
  background: #32c38e;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

.hero-container input {
  border-radius: 20px;
  padding: 0.5em 1em;
  border: 2px solid gray;
  width: 100%;
  font-size: 1rem;
}

.hero-container span {
  position: absolute;
  right: -1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.recipe-container {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-inline: 8vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 2em;
}

.recipes-box {
  width: 300px;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 3px gray;
          box-shadow: 5px 5px 3px gray;
}

.recipes-box img {
  border-radius: 25px 25px 0 0;
  width: 100%;
}

.recipes-box .recipe-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipes-box .recipe-name a {
  width: 200px;
  padding: 0.5em 1em;
  background: #1c9b6d;
  color: white;
  border-radius: 20px;
  margin-top: -.375rem;
}

.recipes-box .recipe-name a:hover {
  background: #32c38e;
}

.meal-details {
  max-height: 95vh;
  position: fixed;
  width: 60%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 2em;
  background-color: #1c9b6d;
  color: white;
  border-radius: 20px;
}

.meal-details .newRecipe-meals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal-details .newRecipe-meals img {
  width: 150px;
  border-radius: 20px;
  margin-right: clamp(1rem, 2rem, 3rem);
}

.meal-details .close {
  font-weight: 600;
  position: absolute;
  color: #ef8f8f;
  top: 7px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}

.meal-details a {
  font-weight: 600;
  color: #ffc966;
}
/*# sourceMappingURL=main.css.map */