@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap');

//Fonts
$mainFont: 'Poppins', sans-serif;
$logoFont: 'Swanky and Moo Moo', cursive;

//Colors
$blackL: hsl(0, 0%, 20%);
$green: hsl(158, 59%, 48%);
$greenD: hsl(158, 69%, 36%);